<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Модуль администрирования</title>
</head>
<body>
    <h1>Приветсвуем вас в модуле администрирования</h1>
    <h2>Выберите действие которое хотите выполнить:</h2>
    <p><a href="http://26.251.53.172:8080/change_rasp?token={{ . }}">Загрузить обновлённое расписание</a></p>
    <p><a href="http://26.251.53.172:8080/change?token={{ . }}">Изменить права пользователей</a></p>
</body>
</html>