<!doctype html>
<!--suppress XmlInvalidId -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="http://26.251.53.172:8083/pars" method="post" enctype="multipart/form-data">
    <label for="file" >Выберите файл</label>
    <input type="file" id="file" name="file" accept=".xlsx">
    <br><br>
    <input type="submit">
</form>
</body>
</html>